body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card{
  background-color: #d3d3d3bf !important;
}

.card .card-header h5 {
  padding-bottom: 20px;
}
.table td {
  white-space: nowrap;
  color: #150e0e;
}
.table thead th{
  font-weight: bolder !important;
}

.container.singinMain .card {
    box-shadow: 0 20px 27px 0 #526199 !important;
    background: linear-gradient(310deg, #526199, #21D4FD) !important;
}
.bg-c-blue {
  background: linear-gradient(45deg,#4099ff,#73b4ff);
}
.text-sm{
  color: #ffffff;
}
.bg-c-green {
  background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}
.bg-c-yellow {
  background: linear-gradient(45deg,#FFB64D,#ffcb80);
}
.newKarigars .table thead th {
  font-weight: bolder !important;
  font-size: 14px;
}
.AnchorClass{
  font-size: 16px;
  background: #17c1e8;
 display: block;
  color: #ffffff;
}
nav.navPag {
  padding-top: 10px;
  width: 250px;
  float: right;
  padding-bottom: 20px;
}
  a.page-link {
    background: #17c1e8;
    color: #ffffff !important;
}
.table{
  border-color: #84919d;
}
.card .card-header {
  padding: 1.5rem;
  background: #17c1e8;}

  .card .card-header h4{
    color: #ffffff;
  }